.event{
    border-radius: 8px;
    padding: 5px;
    padding-left: 8px;
    cursor: pointer;
    color: var(--text-color-dark)
}
.yoga{
    background-color: #F38168;
}
.pilates{
    background-color: #C45875;
}
.kickboxing{
    background-color: #FFBA5E;
}