.filter-container {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}
.filter__header {
  /* border-bottom: 1px solid #824176; */
  padding-bottom: 5px;
  color: #ada9bb;
}
.filter-btns-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkbox-container {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 1rem;
}
.Monday {
  order: 3;
}
.Tuesday {
  order: 5;
}
.Wednesday {
  order: 7;
}
.Thursday {
  order: 2;
}
.Friday {
  order: 4;
}
.Saturday {
  order: 6;
}

/* #weekdays :nth-child(1){
    background-color: white;
  } */

/* #weekday :nth-child(1){
    order: 1;
  }
  #weekday :nth-child(1){
    order: 1;
  }
  #weekday :nth-child(1){
    order: 1;
  } */
