.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 5rem 3rem;
  gap: 1rem;
}
.register__textBox {
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.register__btn {
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: none;
  color: white;
  background-color: var(--secondary-color);
}
.register__google {
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  background-color: #666;
}
