.mobile-calendar-container{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content repeat(17, 1fr);
    /* height: 90vh; */
    gap: 1rem;
    border-radius: 5px;
    border: 1px solid white;
    padding: 3px;
}